 <div class="container">
      <h2 class="text-center mb-4">Bảng Xếp Hạng</h2>
      <div id="product-list" class="row  mt-4">
        <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Avatar</th>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
       
          {{#each users}}
           <tr>
            <th scope="row">{{sum @index 1}}</th>
            {{#if this.avatar}}
               <td><img src="{{this.avatar}}" alt="Avatar" class="img-fluid" style="max-width: 100px;"></td>
            {{else}}
              <td><img  class="product__img" src="https://static.thenounproject.com/png/908418-200.png" alt="image"></td>
             {{/if}}
            
           <td>{{this.username}}</td>
           <td>{{this.scores}}</td>
            </tr>
        {{/each}} 
       
    </tbody>
   </table>
      </div>
    </div>



